<!DOCTYPE html>
<html>
   <head>
      <title>My Timestamp Microservice</title>
      <!-- Add your custom favicon or use the existing one -->
      <link rel="shortcut icon" href="your-custom-favicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1>My Timestamp Microservice</h1>
    <hr />
    <div class="container">
      <h3>Usage Examples:</h3>
      <ul>
        <li><a href="api/2023-11-16">[your project url]/api/2023-11-16</a></li>
        <li><a href="api/1605513600000">[your project url]/api/1605513600000</a></li>
      </ul>

      <h3>Example Output:</h3>
      <p>
        <code>{"unix":1605513600000, "utc":"Tue, 16 Nov 2023 00:00:00 GMT"}</code>
      </p>
    </div>
    <div class="footer">
      <p>
        Created by <a href="https://www.example.com/">Your Name</a>
      </p>
    </div>
  </body>
</html>
